h1{
    background-color: grey;
    height: 100px;
    position: relative;

}

#box{
    height: 50px;
    width: 50px;
    background-color: blue;
    position: absolute;
    left:25px;
    bottom:25px;

}

h2{
    
    padding: 50px;

}
h3{
    height: 175px;
    background-color: blue;
    

}
h4{
    background-color: aqua;
    height: 175px;
    display: flex;
    justify-content: end;
    align-items: end;
    font-family: 'Times New Roman', Times, serif ;
    

}
h5{
    background-color: rgb(223, 223, 159);
    height: 175px;

}
h6{
    background-color: yellow;
    height: 175px;

}
#circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif ;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 35px;
    position: fixed;
    


}



